*{
    padding: 0;
    margin: 0;
    
    }
      
    p {
    font-size: 18px;
    line-height: 25px;
    }
      
    header {
      display: inline;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    
    nav {
    font-family: sans-serif;
    line-height: 1.71429;
    font-size: 10px;
    background-color: white;
    display: flex;
    left: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 10px 20px;
    }
      
    .logo {
      width: 50px;
    }
    nav ul {
      padding-right: 10px;
      list-style: none;
      display: flex;
      gap: 20px;
    }
      
    nav ul li a {
      color: black;
      text-decoration: none;
      font-size: 18px;
    }
      
    nav ul li a:hover {
      color: darkgreen;
      font-weight: bold;
      }
      
    .navbar-nav-left {
      text-transform: uppercase;
      flex: 1;
      margin-left: 10px;
    }
      
    .navbar-nav-right li:first-child a {
      display: flex;
      align-items: center;
    }
      
    .navbar-nav-right img {
      height: 24px;
      width: 18px;
      margin-right: 10px;
      }
      
     .navbar-nav-right li:nth-child(2) {
      margin: 0 5px;
    }
      
    .btn {
      cursor: pointer;
      display: inline-block;
      background: none;
      border: 1px #000 solid;
      border-radius: 50px;
      padding: 7px 16px;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
    }
      
    .btn-dark-outline {
      border-color: #000;
      color: #000;
    }
      
    .btn-dark-outline:hover,
    .btn-light-outline:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
      
    .btn-light-outline {
      border-color: #fff;
      color: #fff;
    }
      
    .btn-dark {
      background-color: #000;
      color: #fff;
    }
      
    .btn-dark:hover {
      background-color: #333;
    }
      
    .line {
      margin: auto;
      width: 200px;
      height: 7px;
      background-color: darkgreen;
      border-radius: 10px;
      margin-top: 10px;
    }
      
    .title {
      font-weight:bold; 
      font-family: sans-serif;
      font-size: 30px;
      color: darkgreen;
      font-weight: bold;
      text-align: center;
    }
  
    /*about us*/
    div {
      display: block;
    }
    
    a :-webkit-any-link {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
    
    .grid-member > article img {
      padding: center;
      position: center;
      width: 200px;
      height: 200px;
      border-radius: 0px 0px 0px 0px;
    }
    
    .grid-member img {
      margin: auto;
      padding-top: 25px;
      width: 25px;
      height: 25px;
      border-radius: 50px 50px 100px 100px;
    
    }
    h2 {
      color: #fff;
    }
    img {
    object-fit: cover;
    }
    
    img {
    overflow-clip-margin: content-box;
    overflow: clip;
    }
    
    .grid-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 100px;
    margin: 50px 50px 50px 50px;
    padding-top: 20px;
    }
    
    .grid-member p {
    color: #fff;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    }
    
    .grid-member > article {
    font-family: sans-serif;
    box-shadow: 0 8px 8px 0 rba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background: #004225;
    width: 250px;
    height: 350px;
    transition: 0.2s ease 0s transform;
    cursor: pointer;
    }
    
    .grid-member button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    cursor: pointer;
    width: 80%;
    }

        /* RESPONSIVE FOOTER */
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
    
    .container-footer {
      max-width: 1170px;
      margin: auto;
      line-height: 1.5;
      font-family: "Poppins", sans-serif;
    }
        
    .row-footer {
      display: flex;
      flex-wrap: wrap;
    }
        
    ul {
      list-style: none;
    }  
      
    .footer {
      background-color: #004225;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .footer img{
      width : 25px;
    }
        
    .footer-col {
      width: 15%;
      padding: 0 15px;
    }

    .footer h4{
      color: white;
    }
        
    .footer-col h4 {
      font-size: 18px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
        
    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: white;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
        
    .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
    }
        
    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: white;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
    }
        
    .footer-col ul li a:hover {
      color: #ffffff;
      padding-left: 8px;
    }
        
    .footer-col .social-links a {
      display: inline-block;
      margin-right: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: white;
      transition: all 0.5s ease;
    }
        
    .footer-col .social-links a:hover {
      background-color: #ffffff;
    }
    
    footer .footer-copyright{
      text-align: border-box;
      font-size: 12px;
      color: white;
    }