*{
    padding: 0;
    margin: 0;
    }
      
    p {
    font-size: 18px;
    line-height: 25px;
    }
      
    header {
      display: inline;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    
    nav {
    font-family: sans-serif;
    line-height: 1.71429;
    font-size: 10px;
    background-color: white;
    display: flex;
    left: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 10px 20px;
    }
      
    .logo {
      width: 50px;
    }
    nav ul {
      padding-right: 10px;
      list-style: none;
      display: flex;
      gap: 20px;
    }
      
    nav ul li a {
      color: black;
      text-decoration: none;
      font-size: 18px;
    }
      
    nav ul li a:hover {
      color: darkgreen;
      font-weight: bold;
      }
      
    .navbar-nav-left {
      text-transform: uppercase;
      flex: 1;
      margin-left: 10px;
    }
      
    .navbar-nav-right li:first-child a {
      display: flex;
      align-items: center;
    }
      
    .navbar-nav-right img {
      height: 24px;
      width: 18px;
      margin-right: 10px;
      }
      
     .navbar-nav-right li:nth-child(2) {
      margin: 0 5px;
    }
      
    .btn {
      font-family: sans-serif;
      cursor: pointer;
      display: inline-block;
      background: none;
      border: 1px #000 solid;
      border-radius: 50px;
      padding: 7px 16px;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
    }
      
    .btn-dark-outline {
      border-color: #000;
      color: #000;
    }
      
    .btn-dark-outline:hover,
    .btn-light-outline:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
      
    .btn-light-outline {
      border-color: #fff;
      color: #fff;
    }
      
    .btn-dark {
      background-color: #000;
      color: #fff;
    }
      
    .btn-dark:hover {
      background-color: #333;
    }
      
      /* Backgrounds */
    .bg-primary {
      background-color: var(--color-primary);
      color: #fff;
    }
    .bg-secondary {
      background-color: var(--color-secondary);
      color: #fff;
    }
    .bg-extra {
      background-color: var(--color-extra);
      color: #000;
    }
    .bg-dark {
      background-color: var(--color-dark);
      color: #000;
    }
      
    .line {
      margin: auto;
      width: 200px;
      height: 7px;
      background-color: darkgreen;
      border-radius: 10px;
      margin-top: 10px;
    }
      
    .title {
      font-weight:bold; 
      font-family: sans-serif;
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
      
    #coffee {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 90vh;
    }
      
    .btn-home {
      padding: 15px 15px;
      border-radius: 10px;
      margin-top: 25px;
      background-color: transparent;
      color: white;
      font-size: 15px;
      cursor: pointer;
      }
    
    .coffee-caption {
      width: 50%;
      }
      
    .coffee-caption h1 {
      color: white;
      font-weight: bold;
      font-size: 50px;
    }
      
    .coffee-caption p {
      margin: 10px 0;
      color: white;
    }
      
    .coffee-img {
      width: 40%;
    }
      
    #coffee {
      font-family: sans-serif;
      background-color: #004225;
      text-align: center;
    }
      
    .coffee-content {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
      
    .coffee-img {
      width: 40%;
    }

    
        /* RESPONSIVE FOOTER */
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
    
    .container-footer {
      max-width: 1170px;
      margin: auto;
      line-height: 1.5;
      font-family: "Poppins", sans-serif;
    }
        
    .row-footer {
      display: flex;
      flex-wrap: wrap;
    }
        
    ul {
      list-style: none;
    }  
      
    .footer {
      background-color: white;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .footer img{
      width : 25px;
    }
        
    .footer-col {
      width: 15%;
      padding: 0 15px;
    }
        
    .footer-col h4 {
      font-size: 18px;
      color: var(--muda);
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
        
    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #000000;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
        
    .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
    }
        
    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: black;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
    }
        
    .footer-col ul li a:hover {
      color: #004225;
      padding-left: 8px;
    }
        
    .footer-col .social-links a {
      display: inline-block;
      margin-right: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: black;
      transition: all 0.5s ease;
    }
        
    .footer-col .social-links a:hover {
      color: #24262b;
      background-color: #ffffff;
    }
    
    footer .footer-copyright{
      text-align: border-box;
      font-size: 12px;
      color: black;
    }