*{
    padding: 0;
    margin: 0;
    }
      
    p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    }
      
    header {
      display: inline;
    }

    img {
      max-width: 75%;
      height: auto;
    }
    
    nav {
    font-family: sans-serif;
    line-height: 1.71429;
    font-size: 10px;
    background-color: white;
    display: flex;
    left: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 10px 20px;
    }
      
    .logo {
      width: 50px;
    }
    nav ul {
      padding-right: 10px;
      list-style: none;
      display: flex;
      gap: 20px;
    }
      
    nav ul li a {
      color: black;
      text-decoration: none;
      font-size: 18px;
    }
      
    nav ul li a:hover {
      color: darkgreen;
      font-weight: bold;
      }
      
    .navbar-nav-left {
      text-transform: uppercase;
      flex: 1;
      margin-left: 10px;
    }
      
    .navbar-nav-right li:first-child a {
      display: flex;
      align-items: center;
    }
      
    .navbar-nav-right img {
      height: 24px;
      width: 18px;
      margin-right: 10px;
      }
      
     .navbar-nav-right li:nth-child(2) {
      margin: 0 5px;
    }
      
    .btn {
      font-family: sans-serif;
      cursor: pointer;
      display: inline-block;
      background: none;
      border: 1px #000 solid;
      border-radius: 50px;
      padding: 7px 16px;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
    }
      
    .btn-dark-outline {
      border-color: #000;
      color: #000;
    }
      
    .btn-dark-outline:hover,
    .btn-light-outline:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
      
    .btn-light-outline {
      border-color: #fff;
      color: #fff;
    }
      
    .btn-dark {
      background-color: #000;
      color: #fff;
    }
      
    .btn-dark:hover {
      background-color: #333;
    }
      
    .line {
      margin: auto;
      width: 200px;
      height: 7px;
      background-color: white;
      border-radius: 10px;
      margin-top: 10px;
    }
      
    .title {
      font-weight:bold; 
      font-family: sans-serif;
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-align: center;
      background-color: #004225;
    }
      
    .btn-home {
      width: 300px;
      height: 35px;
      padding: 0px 10px;
      border: 2px solid #cccccc;
      border-radius: 5px;
      margin-top: 10px;
      background-color: darkgreen;
      color: white;
      font-size: 15px;
      cursor: pointer;
      }
        
      #menu {
        font-family: sans-serif;
        background-color: #004225;
        text-align: center;
        padding: 25px 0;
      }

/*Menu*/

.menu{
  width: 100%;
  padding: 70px 0;
}

.menu .menu_box{
  width: 95%;
  margin: 0 auto;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.menu .menu_box .menu_card{
  background-color: #fff;
  width: 300px;
  height: 450px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.menu .menu_box .menu_card .menu_image{
  width: 300px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
  transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}


.menu .menu_box .menu_card .menu_info h2{
  width: 50%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: darkgreen;
}

.menu .menu_box .menu_card .menu_info p{
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
  text-align: center;
  margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
  color: #fac031;
  text-align: center;
  margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
} 

/*Order*/

.order{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background-size: cover;
  background-position: center;
  background-color: #004225;
}

.order h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 55px;
}

.order h1 span{
  color: darkgreen;
  margin-right: 15px;
  font-family: mv boli;
}

.order h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: darkgreen;
  display: block;
  position: relative;
  bottom: 15px;
}

.order .order_main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.order .order_main .order_image img{
  width: 600px;
}

.order .order_main form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}

.order .order_main form .input p{
  line-height: 25px;
}

.order .order_main form .input{
  margin: 5px;
}

.order .order_main form .input input{
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin-top: 10px;
  background: #eeeeee;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
}

.order .order_main form .input input:focus{
  border: 2px solid darkgreen;
}

.order .order_main form .order_btn{
  padding: 15px 15px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: white;
  color: #004225;
  font-size: 15px;
  cursor: pointer;
  width: 40%;
  text-align: center;
  text-decoration: none;
}

/* RESPONSIVE FOOTER */
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
    
    .container-footer {
      max-width: 1170px;
      margin: auto;
      line-height: 1.5;
      font-family: "Poppins", sans-serif;
    }
        
    .row-footer {
      display: flex;
      flex-wrap: wrap;
    }
        
    ul {
      list-style: none;
    }  
      
    .footer {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .footer p{
      color: black;
    }
    .footer img{
      width : 25px;
    }
        
    .footer-col {
      width: 15%;
      padding: 0 15px;
    }
        
    .footer-col h4 {
      font-size: 18px;
      color: var(--muda);
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
        
    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #000000;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
        
    .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
    }
        
    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: black;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
    }
        
    .footer-col ul li a:hover {
      color: #004225;
      padding-left: 8px;
    }
        
    .footer-col .social-links a {
      display: inline-block;
      margin-right: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: black;
      transition: all 0.5s ease;
    }
        
    .footer-col .social-links a:hover {
      color: #24262b;
      background-color: #ffffff;
    }
    
    footer .footer-copyright{
      text-align: border-box;
      font-size: 12px;
      color: black;
    }