*{
  padding: 0;
  margin: 0;
  }
    
  p {
  font-size: 18px;
  line-height: 25px;
  }
    
  header {
    display: inline;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
  font-family: sans-serif;
  line-height: 1.71429;
  font-size: 10px;
  box-shadow: 0 0 5px darkgreen;
  background-color: white;
  display: flex;
  left: space-between;
  align-items: center;
  position: relative;
  top: 0;
  padding: 10px 20px;
  }
    
  .logo {
    width: 50px;
  }
  nav ul {
    padding-right: 10px;
    list-style: none;
    display: flex;
    gap: 20px;
  }
    
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
    
  nav ul li a:hover {
    color: darkgreen;
    font-weight: bold;
    }
    
  .navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 10px;
  }
    
  .navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
  }
    
  .navbar-nav-right img {
    height: 24px;
    width: 18px;
    margin-right: 10px;
    }
    
   .navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
  }
    
  .btn {
    font-family: sans-serif;
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
  }
    
  .btn-dark-outline {
    border-color: #000;
    color: #000;
  }
    
  .btn-dark-outline:hover,
  .btn-light-outline:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
    
  .btn-light-outline {
    border-color: #fff;
    color: #fff;
  }
    
  .btn-dark {
    background-color: #000;
    color: #fff;
  }
    
  .btn-dark:hover {
    background-color: #333;
  }
    
/* body */
:root {
  --dk-green: #025C11;
  --lt-green: #008248;
  --clr-dark: #000000;
  --alt-light: #F3F1E7;
  --acct-blue: #D4E9E2;
  --clr-light: #F1F8F6;

  --header-font: 'Roboto', sans-serif;
  --nav-font: 'Dongle', sans-serif;
  --main-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/* presets */
h2, h3, h4, p, a, li,
figcaption, button {
  font-family: var(--main-font);
}

h1 {
  font-family: var(--header-font);
}

h2, h3, h4, h5, p, a {
  color: rgba(0, 0, 0, .87);
}

h2 {
  font-size: clamp(1.25rem, 2vw + .85rem, 1.6rem);
}

h3 {
  font-size: clamp(1rem, 1vw + .75rem, 1.2rem);
}

h4 {
  font-size: clamp(.95rem, 1vw + .7rem, 1.1rem);
}

p {
  color: white;
  font-size: clamp(.85rem, 1vw + .5rem, 1rem);
}

button {
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: .35em .55em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  /* for hover/focus */
  transition: all .4s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* spacing */
section {
  padding-top: 3rem;
  background: #f1f0eb !important;
}

section > header {
  margin: 4em auto;
  text-align: center;
  max-width: 70ch;
  line-height: 2.2;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  max-width: unset;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 30s;
  -webkit-animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.choose{
  background: #f1f0eb !important;
}

.choose h2{
  padding-top: 3rem;
  background: #f1f0eb !important;
  font-family: sans-serif;
  color: #d2a049;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-size: 30px;
}

.choose img{
  height: auto;
  width: 100%;
  max-width: 750px;
  display: block;
  margin: 5% auto;

}

.level h2{
  font-family: sans-serif;
  color: #1a3c34;
  font-style: normal;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-size: 26px;
}

.level p{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #1a3c34;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.level img{
  height: auto;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 5% auto;
}

/* rewards slide section */
.rewards {
  padding-top: 3rem;
  background-color: #c6e4a6 !important;
  transition: all 0.5s ease-in-out;
  background-color: var(--clr-light);
  padding: 0;
  font-size: 14px;
  overflow: hidden;
}

.rewards__header {
  margin: 0 auto;
  padding: 2em;
}

.rewards h2{
  font-family: sans-serif ;
  color: #183b35;
  font-style: normal;
  line-height: 120%;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 26px;
}

.rewards__gallery--buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c6e4a6;
  box-shadow: none;
}

.rewards__gallery--buttons > button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 .2em;
  width: 100%;
  font-size: 1.125rem;
  font-family: var(--nav-font);
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.rewards__gallery--buttons > .active {
  border-bottom: 4px solid var(--lt-green);
  transition: all .5s ease-in-out;
}

.rewards__gallery--buttons > button > i {
  font-size: .7rem;
  color: goldenrod;
}

.rewards__gallery {
  background-color: var(--acct-blue);
  position: relative;
  height: 70vh;
}

/* to show first tab on page load */
.default-active {
  /* display: flex; */
  z-index: 1;
}

.tab-content {
  background-color: var(--acct-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
}

.tab-content > figcaption > p {
  max-width: 50ch;
  margin-top: 1em;
}

@media (max-width: 600px) {
  .tab-content > img {
    max-width: 450px;
  }
}

@media (min-width: 1000px) {
  .tab-content, .rewards__gallery--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
    text-align: left;
    max-width: 55em;
    margin: auto;
  }
  .rewards__gallery {
    max-height: 45vh;
  }
}
/* RESPONSIVE FOOTER */
.footer-col {
  width: 50%;
  margin-bottom: 30px;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
    
.row-footer {
  display: flex;
  flex-wrap: wrap;
}
    
ul {
  list-style: none;
}  
  
.footer {
  background-color: #004225;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer img{
  width : 25px;
}
    
.footer-col {
  width: 15%;
  padding: 0 15px;
}
    
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
    
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
    
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
    
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
    
.footer-col ul li a:hover {
  color: #004225;
  padding-left: 8px;
}
    
.footer-col .social-links a {
  display: inline-block;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
    
.footer-col .social-links a:hover {
  color: white;
}

footer .footer-copyright{
  text-align: border-box;
  font-size: 12px;
  color: white;
}